body {
    font-family: 'Asap Condensed', sans-serif;
    height: 95vh;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.game-board {
    margin: 0 auto;
    padding: 0.3em;
    border-spacing: 0.4em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #222;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #ddd;
    user-select: none;
}

.game-board td {
    min-width: 2em;
    height: 2em;
    cursor: pointer;
    border-radius: 4px;
    background-color: #eee;
    box-shadow: 2px 2px 0px #777;
}

.game-board td:hover {
    background-color: rgb(230, 230, 230);
}

.clicked-number {
    background-color: rgb(245, 245, 245) !important;
    color: #ddd !important;
    box-shadow: none !important;
}

.new-game-button {
    outline: none;
    display: inline-block;
    margin-right: 0.5em;
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #222;
    color: #eee;
    box-shadow: 0px 0px 7px #777;
    transition: box-shadow 0.2s, transform 0.2s;
}

.new-game-button:active {
    box-shadow: none;
    transform: scale(0.95);
}

.game-settings, .game-indicators {
    text-align: center;
    margin: 1em;
}

.next-number {
    display: inline-block;
    margin-left: 4em;
}

.stopwatch {
    margin-right: 4em;
}

.game-scores {
    margin: 2em auto;
    text-align: center;
    border-collapse: collapse;
    text-align: center;
}

.game-scores td {
    border: 1px solid black;
    padding: 0.5em;
}

.easy-score, .hard-score, .crazy-score {
    width: 8em;
    font-weight: normal !important;
}

.highscore {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 6.5em;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    display: none;
}